@import "./variables";


.canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
  background-color: white;
  margin: auto;
  margin-top: $toolbar-height * 3;
}

.gif {
  max-height: 100%;
  max-width: 100%;
}
